/* General Layout and typography */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

:root {
    --navbar-height: 15vh;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.1rem;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    background-color: #F8F9FA;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    overflow-x: hidden;
}

.loader-container {
    margin: 2em auto;
    background-color: transparent;
}

.loader {
    width: 50px;
}

.content-container {
    width: 100%;
    max-height: 100%;
    margin: 0 auto;
    padding-top: var(--navbar-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F9FA;
    overflow: hidden;
}


/*Navbar*/
.navigation-menu-sml {
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--navbar-height);
    z-index: 100;
    background-color: #F8F9FA;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
}

.logo {
    width: 150px;
    margin-left: 1.5em;
    cursor: pointer;
}


/*Navbar-Hamburguer-Menu*/

.hamburguer-button {
    position: relative;
    z-index: 100;
    margin-right: 0.25em;
}

.hamburguer-navbar-content {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    min-height: 100vh;
    max-height: 100vh;
    z-index: 50;
    box-shadow: -2px 0 5px -2px rgba(0, 0, 0, 0.25);
    background-color: #F8F9FA;
    border-radius: 10px 0 0 10px;
    transition: transform 0.4s ease-in-out;
    transform: translateX(125%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    box-shadow: -5px 0px 5px 1px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: -5px 0px 5px 1px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: -5px 0px 5px 1px rgba(0, 0, 0, 0.50);
}


.hamburguer-navbar-content.open {
    transform: translateX(0);
}

.hamburguer-navbar-content ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.hamburguer-navbar-content ul li {
    font-weight: bold;
    width: 100%;
    text-align: center;
    line-height: 1.5;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #465464;
    font-size: 1rem;
}

.hamburguer-navbar-content a {
    color: #465464;
    text-decoration: none;
    text-underline-offset: 0.25em;
    display: block;
    width: 100%;
    height: 100%;
    padding: 1em;
}

.hamburguer-navbar-content ul li:hover {
    background-color: #E6CCB2;
}

.hamburguer-navbar-content ul li:active {
    animation: ripple 0.5s ease-in;
}

.hamburguer-navigation:first-of-type {
    margin-top: 4em;
}

.hamburguer-navigation:last-of-type {
    margin-top: 3em;
    margin-bottom: 1em;
}

/*Home*/
.home-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.banner-images-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
}

.main-carrousel-img {
    width: 100%;
    height: auto;
    transition: transform 0.6s ease-in-out;
    flex-shrink: 0;
}

.home-banner {
    width: 100%;
    padding: 1.5em;
    text-align: center;
    background-color: #E6CCB2;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 5px 3px 1px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 0px 5px 3px 1px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 5px 3px 1px rgba(0, 0, 0, 0.51);
}

.home-banner h3 {
    color: #465464;
    font-weight: 600;
}

strong {
    font-weight: 850;
}

.banner-displays {
    width: 90%;
    margin: 3.5em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5em;
}

.banner-display-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-display-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #465464;
    width: 80%;
    line-height: 1.5;
}

.banner-display-info h2 {
    color: #774936;
    font-weight: 600;
    text-align: left;
    margin: 0 0 0.25em 0;
    padding: 0;
    width: 100%;
}

.banner-display-info p {
    font-weight: 500;
}

.banner-icons {
    width: 65px;
    margin-right: 1.25em;
}

.cta-btn {
    width: 150px;
    text-align: center;
    margin-bottom: 6em;
    line-height: 1.25;
    border-radius: 10px 5px 10px 5px;
    border: 0.25px solid black;
    padding: 1em 1.25em;
    color: #465464;
    font-weight: 800;
    background-color: #E6CCB2;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.50);
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.25s ease;
}

.cta-btn:hover {
    transform: scale(1.1);
}

.cta-btn:active {
    box-shadow: -3px 0px 3px 1px rgba(0, 0, 0, 0.50) inset;
    -webkit-box-shadow: -3px 0px 3px 1px rgba(0, 0, 0, 0.50) inset;
    -moz-box-shadow: -3px 0px 3px 1px rgba(0, 0, 0, 0.50) inset;
    border: 1px solid black;
}

/*About*/

/*Works*/

/*Services*/

/*Contacts*/

/*Footer*/
.app-footer {
    width: 100%;
    background-color: #E6CCB2;
    color: #465464;
    padding: 1em;
    opacity: 0.9;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-footer a {
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    color: #465464;
}