/*Exceptions for really small viewports*/

@media screen and (max-height: 300px) {
    :root {
        --navbar-height: 30vh;
    }

}

@media screen and (max-height: 580px) {
    .hamburguer-navbar-content {
        width: 60%;
        justify-content: center;
    }

    .hamburguer-navigation:first-of-type {
        margin-top: 7em;
    }

    .hamburguer-navigation:first-of-type {
        margin-top: 12.5em;
    }
}


@media screen and (min-width: 750px) {
    /* General Layout and typography */

    .loader {
        width: 75px;
    }


    /*Navbar*/

    .logo {
        width: 200px;
    }

    .hamburguer-button {
        margin-right: 1em;
    }

    .hamburguer-navbar-content {
        width: 40%;
        justify-content: center;
    }

    .hamburguer-navbar-content ul li {
        font-size: 1.1rem;
        width: 100%;

    }

    .hamburguer-navbar-content a {
        width: 100%;
    }


    /*Home*/
    .banner-displays {
        width: 70%;
        margin: 4.5em auto;
    }

    .banner-icons {
        width: 80px;
        margin-right: 1.75em;
    }

    .banner-display-section {
        width: 75%;
    }


    /*About*/

    /*Works*/

    /*Services*/

    /*Contacts*/

    /*Footer*/
}

@media screen and (min-width: 1250px) {
    /* General Layout and typography */

    /*Navbar*/

    /*Home*/

    /*About*/

    /*Works*/

    /*Services*/

    /*Contacts*/

    /*Footer*/
}

@media screen and (min-width: 1550px) {
    /* General Layout and typography */

    /*Navbar*/

    /*Home*/

    /*About*/

    /*Works*/

    /*Services*/

    /*Contacts*/

    /*Footer*/
}