/*Exceptions for really small viewports*/

@media screen and (max-height: 300px) {
    :root {
        --navbar-height: 30vh;
    }
}

@media screen and (min-height: 970px) {

    .content-container {
        min-height: calc(110vh - var(--navbar-height));
    }
}

@media screen and (min-width: 300px) {
    .logo {
        width: 150px;
    }
}

@media screen and (min-width: 350px) {

    .works-img-container {
        width: 300px;
        height: 250px;
        overflow-y: hidden;
        padding-bottom: 10px;
        margin-bottom: 3.5em;
    }

    .works-grid-images,
    .works-grid-images img {
        width: 300px;
        height: 200px;
    }

    .services-options img {
        width: 325px;
    }

    .map-container {
        width: 300px;
        height: 300px;
    }

}

@media screen and (min-width: 400px) {

    .works-heading {
        width: 60%;
    }

    .works-img-container {
        width: 350px;
        height: 300px;
        overflow-y: hidden;
        padding-bottom: 10px;
        margin-bottom: 3.5em;
    }

    .works-grid-images,
    .works-grid-images img {
        width: 350px;
        height: 250px;
    }

    .services-options img {
        width: 350px;
    }
}

@media screen and (min-height: 600px) {
    .hamburguer-ceiling {
        visibility: hidden;
    }
}

@media screen and (max-height: 580px) {
    .hamburguer-navbar-content {
        width: 60%;
        justify-content: center;
    }

    .hamburguer-navigation:first-of-type {
        margin-top: 7em;
    }

    .hamburguer-navigation:first-of-type {
        margin-top: 12.5em;
    }
}


@media screen and (min-width: 600px) {
    .banner-displays {
        width: 70%;
    }
}

@media screen and (min-width: 750px) {

    /* General Layout and typography */

    /*Home*/
    .banner-displays {
        width: 80%;
    }

    .loader {
        width: 75px;
    }

    /*Navbar*/

    .logo {
        width: 200px;
    }

    .hamburguer-button {
        margin-right: 1em;
    }

    .hamburguer-navbar-content {
        width: 40%;
        justify-content: center;
    }

    .hamburguer-navbar-content ul li {
        width: 100%;

    }

    .hamburguer-navbar-content a {
        width: 100%;
    }


    /*Home*/
    .banner-displays {
        margin: 4.5em auto;
    }

    .banner-icons {
        width: 80px;
        margin-right: 1.75em;
    }

    .banner-display-section {
        width: 75%;
    }

    /*About*/
    .about-info-row p {
        width: 80%;
    }

    /*Works*/

    .works-grid-display {
        width: 100%;
        margin: 1em auto;
        height: 100%;
    }

    .works-img-container {
        margin: 0em auto;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;

    }

    .works-grid-images {
        margin: 0 auto;
        aspect-ratio: 1 / 1;
        overflow: hidden;
    }

    .works-grid-images img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    /*Services*/

    .services-info {
        width: 80%;
        align-items: center;
    }

    .services-info p {
        width: 80%;
    }

    .services-options img {
        width: 550px;
    }

    /*Contacts*/

    .contact-form {
        max-width: 40%;
    }

    .contact-form input {
        padding: 0.5em 2em;
    }

    .map-container {
        margin: 2em auto 1em auto;
        width: 500px;
        height: 500px;
    }

    /*Footer*/

    .social-media-icon,
    .social-media-icon a,
    .social-media-icon a img {
        width: 30px;
    }

    .social-media-nav ul {
        gap: 1.25em;
        margin-left: 0.5em;
    }

    .author {
        margin-right: 0.5em;
    }

}

@media screen and (min-width: 900px) {
    .banner-displays {
        width: 60%;
    }

    .hamburguer-navbar-content {
        width: 30%;
    }

    .works-grid-display {
        max-width: 90%;
    }

}


@media screen and (min-width: 1000px) {


    .works-grid-display {
        max-width: 75%;
    }

}

@media screen and (min-width: 1250px) {


    /* General Layout and typography */

    :root {
        --navbar-height: 12.5vh;
    }

    .content-container {
        height: 100%;
        padding-top: var(--navbar-height);
    }

    /*Navbar*/

    .navigation-menu-lg {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 100vw;
        height: var(--navbar-height);
        position: fixed;
        top: 0;
        z-index: 100;
        background-color: #F8F9FA;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        overflow: hidden;
    }

    .logo {
        width: 175px;
        transition: transform 0.25s ease;
    }

    .logo:hover {
        transform: scale(1.05);
    }

    .logo:active {
        animation: ripple 0.5s ease-in;
    }

    .navigation-lg-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: var(--navbar-height);
        list-style-type: none;
        margin-right: 1em;
    }

    .navigation-lg-screen .navigation-lg-screen li,
    .navigation-lg-screen li a {
        width: 100%;
        display: block;
        height: var(--navbar-height);
        padding: 0 2em;
        font-weight: 600;
    }

    .navigation-lg-screen li a {
        text-decoration: none;
        color: #465464;
        text-underline-offset: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navigation-lg-screen li a:hover {
        background-color: #E6CCB2;
    }

    .navigation-lg-screen li a:active {
        animation: ripple 0.5s ease-in;
    }

    /*Home*/

    .banner-images-container {
        max-height: 545px;
    }

    .main-carrousel-img {
        max-height: 545px;
    }

    .banner-displays {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .banner-display-info {
        width: 60%;
    }

    /*About*/

    .about-info-heading {
        margin: 3em 0em;
    }

    .about-info-row {
        display: flex;
        flex-direction: row;
        gap: 1.5em;
        padding: 3.5em;
        transition: all 0.3s;
    }

    .about-info-row p {
        width: 70%;
    }

    .about-info-row:hover {
        z-index: 50;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
        transform: scaleX(1.05);
    }

    .about-info-row:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .about-container {
        gap: 0;
    }

    .about-container img {
        width: 150px;
    }

    /*Works*/

    .works-grid-display {
        max-width: 90%;
    }

    .works-img-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        column-gap: 0;
        transition: all 0.3s ease;
    }

    .works-grid-images img {
        transition: transform 0.3s ease;
    }

    .works-grid-images:hover img {
        transform: scale(1.1);
    }

    .works-grid-images:hover {
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    }

    /*Services*/

    .services-container {
        width: 90%;
    }

    .services-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(0, auto);
        gap: 4.5em 2em;
        transition: all 0.3s ease;
        position: relative;
        overflow: visible;
        width: 100%;
    }

    .services-info {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .services-options {
        transition: all 0.3s ease;
    }

    .services-options:hover {
        transform: translateY(-15px);
    }

    .services-options::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -40px;
        width: 100%;
        height: 35px;
        border-radius: 0 0 10px 10px;
        background-color: #E6CCB2;
        opacity: 0;
        transition: opacity 0.3s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    }

    .services-options:hover::before {
        opacity: 1;
    }

    .services-filter {
        margin-bottom: 2em;
        font-size: 1.1rem;
    }

    /*Contacts*/

    .contact-form {
        max-width: 20%;
    }
    
    .contact-form textarea {
        min-width: 30vw;
        max-width: 60vw;
        min-height: 20vh;
        max-height: 50vh;
    }
    .map-container {
        width: 750px;
        height: 500px;
    }

    /*Footer*/
    .app-footer-lg {
        margin: 0;
        padding: 0;
    }

    .footer-navigation {
        padding: 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        overflow: hidden;
    }

    .footer-navigation a {
        transition: transform 0.25s ease;
    }

    .policies-links:hover,
    .author:hover {
        transform: scale(1.1);
    }

    .policies-links:hover {
        font-weight: 800;
    }

    .social-media-icon {
        transition: translate 0.25s ease;
    }

    .social-media-icon:hover {
        transform: translateY(-5px);
    }

    .footer-navigation ul a {
        padding: 0.5em;
        text-decoration: none;
        color: #465464;
        font-weight: bold;
    }

    .socials-lg {
        display: flex;
        gap: 1em;
    }

    .author {
        text-decoration: underline;
        text-underline-offset: 5px;
    }

    .policies-container {
        display: flex;
        gap: 1.5em;
        margin-left: 4em;
    }

    .cookies-modal {
        width: 50%;
        border-radius: 5px;
        left: 10px;
        bottom: 10px;
    }

}

@media screen and (min-width: 1550px) {

    /* General Layout and typography */
    :root {
        --navbar-height: 10vh;
    }

    p,
    a {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.3rem;
    }


    /*Navbar*/

    .logo {
        width: 200px;
    }

    /*Home*/

    .banner-images-container {
        max-height: 725px;
    }

    .main-carrousel-img {
        max-height: 800px;
    }

    .banner-displays {
        gap: 0;
        margin: 7.5em 0;
    }

    /*About*/
    .about-info-row p {
        width: 50%;
    }

    /*Works*/

    .works-grid-display {
        max-width: 80%;
    }

    /*Services*/

    .services-filter {
        margin-right: 2em;
    }

    .services-container {
        width: 85%;
    }

    .services-grid {
        width: 90%;
    }

    /*Contacts*/

    .contact-form input,
    .contact-form textarea,
    .contact-form button,
    address {
        font-size: 1.1rem;
    }

    .contact-form textarea {
        min-width: 35vw;
        max-width: 50vw;
        min-height: 20vh;
        max-height: 40vh;
    }

    .contact-form {
        width: 15%;
    }

    /*Footer*/
    .social-media-icon,
    .social-media-icon a,
    .social-media-icon a img {
        width: 35px;
    }
}

@media screen and (min-width: 2000px) {

    /* General Layout and typography */

    /*Navbar*/
    .logo {
        width: 250px;
    }

    /*Home*/

    .banner-images-container {
        max-height: 950px;
    }

    .main-carrousel-img {
        max-height: 950px;
    }

    .banner-displays {
        width: 50%;
        margin: 5em 0;
    }

    /*About*/

    /*Works*/

    .works-grid-display {
        max-width: 55%;
    }

    .works-grid-images {
        grid-gap: 1.5em;
    }

    /*Services*/

    .services-container {
        width: 70%;
    }

    .services-grid {
        width: 90%;
    }


    .services-filter {
        font-size: 1.2rem
    }


    /*Contacts*/
    .contacts-container {
        width: 50%;
    }

    .contact-form textarea {
        min-width: 20vw;
        max-width: 20vw;
        min-height: 15vh;
    }

    /*Footer*/

}

@media screen and (min-width: 2500px) {

    /* General Layout and typography */

    /*Navbar*/
    .logo {
        width: 250px;
    }

    /*Home*/

    .banner-images-container {
        max-height: 1050px;
    }

    .main-carrousel-img {
        max-height: 1100px;
    }

    .banner-displays {
        width: 50%;
        margin: 5em 0;
    }

    /*About*/

    /*Works*/

    .works-grid-display {
        max-width: 50%;
    }


    /*Services*/

    /*Contacts*/

    /*Footer*/

}

@media screen and (min-width: 3000px) {

    /* General Layout and typography */

    /*Navbar*/
    .logo {
        width: 250px;
    }

    /*Home*/

    .banner-images-container {
        max-height: 1500px;
    }

    .main-carrousel-img {
        max-height: 1500px;
    }

    .banner-displays {
        width: 50%;
        margin: 5em 0;
    }

    /*About*/

    /*Works*/

    /*Services*/

    /*Contacts*/

    /*Footer*/

}