@media screen and (max-height: 580px) {
    .hamburguer-navbar-content {
        width: 60%;
        justify-content: center;
    }

    .hamburguer-navigation:first-of-type{
       margin-top: 6em;
    }
}


@media screen (min-width: 750px) {
    /* General Layout and typography */

    /*Navbar*/

    /*Home*/

    /*About*/

    /*Works*/

    /*Services*/

    /*Contacts*/

    /*Footer*/
}

@media screen (min-width: 1250px) {
    /* General Layout and typography */

    /*Navbar*/

    /*Home*/

    /*About*/

    /*Works*/

    /*Services*/

    /*Contacts*/

    /*Footer*/
}